body {
    display: flex;
    justify-content: center;
}

.bloc {
    width: 100%;
}

.bloc1 {
    width: 100%;
}

.input1 {
    border-radius: 10px;
    background-color: rgb(218, 214, 214);
    border: none;
    outline: none;
    width: 100%;
}

.motDePasse {
    border-radius: 10px;
    background-color: rgb(218, 214, 214);
    border: none;
    position: relative;
}

.motDePasse:focus-within {
    outline: 2px solid black;
}

.motDePasse:after {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
}

#password:active,
#passwordConfirm :active {
    border: 1px solid #ccc;
}

#eye1,
#eye2 {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.6;
}

#eye1:hover,
#eye2:hover {
    opacity: 1;
}

.bouton {
    border: none;
    width: 100%;
    border-radius: 200px;
    color: white;
    background-color: rgb(69, 69, 69);
}

.bouton:hover {
    background-color: #313131;
}

.bouton:active {
    background-color: black;
}